<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Welcome to Quizzz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="css/style.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <f:metadata>
            <f:viewParam name="id" value="#{quizBean.type}"  />
            <f:viewAction action="#{quizBean.init}" />
        </f:metadata>
    </h:head>
    <h:body class="grey lighten-5"  style="height: 100%;overflow: hidden;">
        <h:form>

            <div style="margin: 10px">
                <div class="col s12 m4">
                    <div class="card white lighten-1" >
                        <p:panel style="border: none"  styleClass="question_zone">
                            <p:progressBar value="#{(quizBean.number/quizBean.max)*100}"  displayOnly="true"/>
                            <h4>#{quizBean.number+1}°/ #{quizBean.questions.get(quizBean.number).question} </h4>
                            <p>
                                <p:selectOneRadio id="city1" layout="responsive" columns="1" rendered="#{quizBean.questions.get(quizBean.number).type == 1}"
                                                  value="#{quizBean.questions.get(quizBean.number).selected}" >
                                    <f:selectItems value="#{quizBean.questions.get(quizBean.number).answers}" var="a" itemLabel="#{a.text}" itemValue="#{a.id}" />
                                    <p:ajax process="@this"/>
                                </p:selectOneRadio>

                                <p:selectManyCheckbox id="city2" layout="responsive" columns="1" rendered="#{quizBean.questions.get(quizBean.number).type == 2}"
                                                      value="#{quizBean.questions.get(quizBean.number).selections}">
                                    <f:selectItems value="#{quizBean.questions.get(quizBean.number).choices}" var="a" itemLabel="#{a.choice}" itemValue="#{a.id}"/>
                                    <p:ajax process="@this"/>
                                </p:selectManyCheckbox>
                            </p>

                            <div class="card-action white ">
                                <p:commandLink class="btn btn-large white-text teal right-align" value="Export quiz to pdf">
                                    <i class="fa fa-print"></i>
                                    <p:printer target="quiz" />
                                </p:commandLink>
                                <p:commandLink styleClass="btn btn-large white-text orange right-align" value="Next Question" ajax="true" disabled="#{quizBean.number eq quizBean.max}">
                                    <p:ajax listener="#{quizBean.goToNext}" update="@(.question_zone,.md_result)"/>
                                </p:commandLink>
                                <p:commandLink class="btn btn-large white-text orange right-align" action="welcome" value="Finish quiz">

                                </p:commandLink>
                            </div>

                        </p:panel>
                    </div>

                    <p:panel id="quiz" style="position: relative;bottom: -5000px">
                        <ui:repeat value="#{quizBean.questions}" var="q" varStatus="i">
                            <h4>#{i.index}°/ #{q.question}</h4>
                            <p>
                                <p:selectOneRadio layout="responsive" columns="1" rendered="#{quizBean.questions.get(i.index).type == 1}"
                                                  value="#{quizBean.questions.get(i.index).selected}" >
                                    <f:selectItems value="#{quizBean.questions.get(i.index).answers}" var="a" itemLabel="#{a.text}" itemValue="#{a.id}" />
                                    <p:ajax process="@this"/>
                                </p:selectOneRadio>

                                <p:selectManyCheckbox layout="responsive" columns="1" rendered="#{quizBean.questions.get(i.index).type == 2}"
                                                      value="#{quizBean.questions.get(i.index).selections}">
                                    <f:selectItems value="#{quizBean.questions.get(i.index).choices}" var="a" itemLabel="#{a.choice}" itemValue="#{a.id}"/>
                                    <p:ajax process="@this"/>
                                </p:selectManyCheckbox>
                            </p>
                        </ui:repeat>
                    </p:panel>
                    <p:dialog header="Final Results" widgetVar="dlg2" modal="true"  styleClass="md_result">
                        <h:outputText value="Username: #{quizBean.user}" />
                        <br/>
                        <h:outputText value="Result: #{quizBean.score}/#{quizBean.max}" />
                        <br/>
                        <br/>
                        <p:commandButton  value="New Quizz" action="welcome" styleClass="name">
                        </p:commandButton>
                        <p:commandLink value="Export quiz to pdf">
                            <i class="fa fa-print"></i>
                            <p:printer target="quiz" />
                        </p:commandLink>
                    </p:dialog> 
                </div>
            </div>
            <style>
                #city2.span{
                    color:red !important;
                }
            </style>
        </h:form>
    </h:body>
</html>