<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Welcome to Quizzz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="css/style.css"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </h:head>
    <h:body class="grey lighten-5">
        <h:form>

            <!-- Navbar goes here -->

            <nav>
                <div class="nav-wrapper white">
                    <a href="#" class="brand-logo teal-text">&nbsp; Quizzz</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <!--                        <li><a href="sass.html" class="teal-text">Sass</a></li>
                                                <li><a href="badges.html" class="teal-text">Components</a></li>-->
                        <li><a href="collapsible.html" class="teal-text">Help</a></li>
                    </ul>
                </div>
            </nav>
            <!-- Page Layout here -->
            <div class="row">

                <div class="col s12 m2"> <!-- Note that "m4 l3" was added -->
                    <!--Grey navigation panel-->
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Topics</h5></li>
                        <ui:repeat value="#{questionBean.topics}" var="topic">
                            <li class="collection-item" style="text-transform: capitalize">
                                <p:commandLink class="teal-text" value="#{topic}">
                                    <p:ajax event="click" listener="#{questionBean.setTopic(topic)}" oncomplete="PF('dlgTopic').show()"/>
                                </p:commandLink>  
                            </li>
                        </ui:repeat>
                    </ul>
                </div>

                <div class="col s12 m10"> 
                    <!-- Note that "m8 l9" was added -->
                    <!--Teal page content-->
                    <div class="row">   
                        <div class="col s12 m4">
                            <div class="card grey lighten-1">
                                <div class="card-content white-text">
                                    <span class="card-title">EASY</span>
                                    <p>Start a series of 10 questions where the questions are randomly
                                        selected according to their complexity and the time they must take...</p>
                                </div>
                                <div class="card-action white ">
                                    <p:commandLink class="teal-text" value="Launch the quiz" onclick="PF('dlgEasy').show()"></p:commandLink>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card green lighten-1">
                                <div class="card-content white-text">
                                    <span class="card-title">NORMAL</span>
                                    <p>Start a series of 10 questions where the questions are randomly
                                        selected according to their complexity and the time they must take...</p>
                                </div>
                                <div class="card-action white ">
                                    <p:commandLink class="teal-text" value="Launch the quiz" onclick="PF('dlgNormal').show()"></p:commandLink>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card red lighten-1">
                                <div class="card-content white-text">
                                    <span class="card-title">DIFFICULT</span>
                                    <p>Start a series of 10 questions where the questions are randomly
                                        selected according to their complexity and the time they must take...</p>
                                </div>
                                <div class="card-action white ">
                                    <p:commandLink class="teal-text" value="Launch the quiz" onclick="PF('dlgDifficult').show()"></p:commandLink>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m8">
                            <div class="card lighten-1">
                                <div class="card-content teal-text">
                                    <span class="card-title">CREATE A RANDOM QUIZZ</span>
                                    <p>Start a series of 10 questions where the questions are randomly
                                        selected according to their complexity and the time they must take...</p>
                                </div>
                                <div class="card-action white ">
                                    <p:commandLink class="teal-text"  value="Launch the quiz" onclick="PF('dlgRandom').show()"></p:commandLink>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card lighten-1">
                                <div class="card-content teal-text">
                                    <span class="card-title">TIME BASED</span>
                                    <p>Start a series of questions with the appropriate timer</p>
                                </div>
                                <div class="card-action white ">
                                    <a href="#" class="red-text">1min</a>
                                    <a href="#" class="red-text">2min</a>
                                    <a href="#" class="red-text">5min</a>
                                    <a href="#" class="red-text">10min</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <p:dialog header="After validating, your quiz will start" widgetVar="dlgRandom" modal="true" height="150" closable="false">
                <h:outputText value="Please enter your name" />
                <p:inputText value="#{questionBean.user}" required="true" >
                    <p:ajax event="keyup" process="@this" update="@(.name)"/>
                </p:inputText>
                <br/>
                <br/>
                <p:commandButton class="waves-effect white-text waves-light btn teal" value="Submit" action="question"  styleClass="name">
                    <f:param name="type" value="0" />
                    <f:param name="user" value="#{questionBean.user}" />
                </p:commandButton>
            </p:dialog> 

        </h:form>
        <h:form>
            <p:dialog header="After validating, your quiz will start" widgetVar="dlgEasy" modal="true" height="150" closable="false">
                <h:outputText value="Please enter your name" />
                <p:inputText value="#{questionBean.user}" required="true" >
                    <p:ajax event="keyup" process="@this" update="@(.name)"/>
                </p:inputText>
                <br/>
                <br/>
                <p:commandButton class="waves-effect white-text waves-light btn teal" value="Submit" action="question"  styleClass="name">
                    <f:param name="type" value="1" />
                    <f:param name="user" value="#{questionBean.user}" />
                </p:commandButton>
            </p:dialog>
        </h:form>
        <h:form>
            <p:dialog header="After validating, your quiz will start" widgetVar="dlgNormal" modal="true" height="150" closable="false">
                <h:outputText value="Please enter your name" />
                <p:inputText value="#{questionBean.user}" required="true" >
                    <p:ajax event="keyup" process="@this" update="@(.name)"/>
                </p:inputText>
                <br/>
                <br/>
                <p:commandButton class="waves-effect white-text waves-light btn teal" value="Submit" action="question"  styleClass="name">
                    <f:param name="type" value="2" />
                    <f:param name="user" value="#{questionBean.user}" />
                </p:commandButton>
            </p:dialog>
        </h:form>
        <h:form>
            <p:dialog header="After validating, your quiz will start" widgetVar="dlgDifficult" modal="true" height="150" closable="false">
                <h:outputText value="Please enter your name" />
                <p:inputText value="#{questionBean.user}" required="true" >
                    <p:ajax event="keyup" process="@this" update="@(.name)"/>
                </p:inputText>
                <br/>
                <br/>
                <p:commandButton class="waves-effect white-text waves-light btn teal" value="Submit" action="question"  styleClass="name">
                    <f:param name="type" value="3" />
                    <f:param name="user" value="#{questionBean.user}" />
                </p:commandButton>
            </p:dialog>
        </h:form>

        <h:form>
            <p:dialog header="After validating, your quiz will start" widgetVar="dlgTopic" modal="true" height="150" closable="false">
                <h:outputText value="Please enter your name" />
                <p:inputText value="#{questionBean.user}" required="true" >
                    <p:ajax event="keyup" process="@this" update="@(.name)"/>
                </p:inputText>
                <br/>
                <br/>
                <p:commandButton class="waves-effect white-text waves-light btn teal" value="Submit" action="question"  styleClass="name">
                    <f:param name="type" value="0" />
                    <f:param name="user" value="#{questionBean.user}" />
                    <f:param name="topic" value="#{questionBean.topic}" />
                </p:commandButton>
            </p:dialog>
        </h:form>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </h:body>
</html>